*
.DS_Store
!.gitignore
!Plot
!Plot/*
!matrix
!matrix/*
!scratch
!scratch/*
!scenario
!scenario/*
!ipv4-routing-table-entry.h
!ipv4-routing-table-entry.cc
!ipv4-static-routing.h
!ipv4-static-routing.cc

